<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	<ui:define name="content">
		<h:form id="userform">
			<h:panelGrid columns="2">
			
			<h:outputText value="login: "></h:outputText>
			<h:inputText value="#{userBean.user.login}"></h:inputText>
			<h:outputText value="password"></h:outputText>
			<h:inputSecret value="#{userBean.user.password}"></h:inputSecret>

			</h:panelGrid>
			
			<h:commandButton value="zapisz" action="#{userBean.saveUser}"></h:commandButton>
				
			<h:panelGrid>
				<h:messages showDetail="#{true}" showSummary="#{false}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>