<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	<ui:define name="content">
		<h:form id="personform">
			<h:panelGrid columns="2">

				<h:outputText value="password" />
				<h:inputText id="name" value="#{userBean.user.password}" />
			</h:panelGrid>

			<h:commandButton value="zmien hasło"
				action="#{userBean.changePassword}" />
				
			<h:panelGrid>
				<h:messages showDetail="#{true}" showSummary="#{false}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>